.fr-wrapper {
    overflow: scroll;
    height: 55vh;
}

.bouncing-loader {
    display: flex;
    justify-content: left;
  }
  
  .bouncing-loader > div {
    width: 8px;
    height: 8px;
    margin: 2px 4px;
    border-radius: 50%;
    background-color: #aa16e4;
    opacity: 1;
    animation: bouncing-loader 0.6s infinite alternate;
  }

  @keyframes bouncing-loader {
    to {
      opacity: 0.1;
      transform: translateY(-10px);
    }
  }
  
  .bouncing-loader > div:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .bouncing-loader > div:nth-child(3) {
    animation-delay: 0.4s;
  }